@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

.font{
  font-family: 'Montserrat', sans-serif;
}
.bg-welcome{
	background: #FF416C;
	background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
	background: linear-gradient(to right, #FF4B2B, #FF416C);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
  color: white;
}